.sidebar{
  width: 250px;
  position: fixed; /* 헤더를 화면 상단에 고정 */
}

.add-follow-button:hover {
  background-color: #3498db; /* 초기 배경색 */
  color: white;
  text-align: center;
  line-height: 50px;
  transition: background-color 1s ease; /* 트랜지션 속성 설정 */
}

.sidebar_img{
  height:50px;
  width:50px;
}

.mt-header{
  margin-top: 70px;
}

.contents{
  margin-left:250px;
  position: fixed; /* 헤더를 화면 상단에 고정 */
}