/* nav 오른쪽 화살표 삭제를 위한 */
.navbar-nav .nav-item .nav-link::after {
    display: none;
}

.navbar{
    height: 100%;
}

header{
    max-height: 70px;
    height: 100%;
}

.site-logo{
    text-decoration: none;
    color: black;
}